@charset "UTF-8";
header .nav__mobile .nav__link[aria-current=page]::after, header .nav__mobile .nav__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.4rem;
  transition: 0.2s ease-in-out;
}

header .nav__desktop .nav__list .nav__link::before, header .nav__desktop .nav__list .nav__link[aria-current=page]::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.4rem;
  transition: 0.2s ease-in-out;
}

/*
   In abstracts folder shouls only contain all Sass tools and helpers used across the project. Every global variable, function, mixin and placeholder should be put in here.

   The rule of thumb for this folder is that it should not output a single line of CSS when compiled on its own.
*/
/*  
   This 'vendors' folder should contain all the CSS files from external libraries and frameworks – Normalize, Bootstrap, jQueryUI, FancyCarouselSliderjQueryPowered, and so on.
*/
/*  
   If you have to override a section of any vendor,  use this 'vendors-extensions' folder in which you can have files named exactly after the vendors they overwrite.

   For instance, vendors-extensions/_bootstrap.scss is a file containing all CSS rules intended to re-declare some of Bootstrap’s default CSS. This is to avoid editing the vendor files themselves, which is generally not a good idea.
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and inherit font for everything */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
svg,
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
  background-color: #0b0d17;
  color: #d0d6f9;
}

a {
  text-decoration: none;
}

main {
  min-height: calc(100vh - 9rem);
  padding: 2.4rem 2.4rem 4.8rem 2.4rem;
}
@media (min-width: 48em) {
  main {
    min-height: calc(100vh - 9.6rem);
    padding: 4rem;
    margin: 0 auto;
  }
}
@media (min-width: 64em) {
  main {
    min-height: calc(100vh - 17.6rem);
    padding: 2.4rem 4rem;
    max-width: 128rem;
    width: 100%;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*
   Use 'not-sr-only' to undo 'sr-only', making an element visible to sighted users as well as screen readers. This can be useful when you want to visually hide something on small screens but show it on larger screens
*/
.not-sr-only {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (min-width: 48em) {
  .hide-for-medium-and-up {
    display: none;
  }
}

@media (max-width: 47.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

header {
  font-family: "Barlow Condensed", sans-serif;
}
@media (min-width: 48em) {
  header {
    position: relative;
  }
}
@media (min-width: 64em) {
  header {
    height: 17.6rem;
    padding: 4rem 0;
  }
}
header .btn__and__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem;
}
@media (min-width: 48em) {
  header .btn__and__logo {
    display: none;
  }
}
header .btn__and__logo .menu__btn {
  background-image: url("../../assets/shared/icon-hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 2.4rem;
  aspect-ratio: 1;
  z-index: 100;
}
header .btn__and__logo .menu__btn[aria-expanded=true] {
  background-image: url("../../assets/shared/icon-close.svg");
}
header .btn__and__logo .logo {
  aspect-ratio: 1;
  width: 4rem;
}
header .backdrop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}
header .nav__mobile {
  position: fixed;
  right: 0;
  top: 0;
  left: 30%;
  padding: 10rem 0 2.4rem 3.2rem;
  min-height: 100vh;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 99;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}
header .nav__mobile.open {
  transform: translateX(0);
}
header .nav__mobile .nav__item {
  padding: 0.8rem 0;
}
header .nav__mobile .nav__link {
  position: relative;
  display: block;
  line-height: 1.92rem;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.8rem 0;
  letter-spacing: 0.27rem;
}
header .nav__mobile .nav__link[aria-current=page]::after {
  height: 100%;
  background-color: #ffffff;
}
header .nav__mobile .nav__link::after {
  height: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
header .nav__mobile .nav__link:hover::after {
  height: 100%;
}
header .nav__mobile .nav__link .nav__num {
  display: inline-block;
  font-weight: 700;
  min-width: 2.4rem;
}
header .nav__desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 9.6rem;
  padding: 0 4rem;
  margin: 0 auto;
}
@media (max-width: 47.9375em) {
  header .nav__desktop {
    display: none;
  }
}
@media (min-width: 90em) {
  header .nav__desktop {
    max-width: 128rem;
  }
}
header .nav__desktop .logo__link {
  margin-right: 4rem;
}
@media (min-width: 90em) {
  header .nav__desktop .logo__link {
    position: absolute;
    transform: translateX(-8rem);
  }
}
header .nav__desktop .logo__link .desktop__logo {
  aspect-ratio: 1;
  width: 4.8rem;
}
header .nav__desktop .nav__line {
  flex-grow: 1;
  position: relative;
}
header .nav__desktop .nav__line::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  background-color: transparent;
  z-index: 91;
}
@media (min-width: 64em) {
  header .nav__desktop .nav__line::before {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
header .nav__desktop .nav__list {
  display: flex;
  align-items: center;
  justify-content: unset;
  gap: 3.2rem;
  align-self: stretch;
  z-index: 90;
  padding-left: 4rem;
}
header .nav__desktop .nav__list::after {
  content: "";
  position: absolute;
  right: 0;
  height: 9.6rem;
  width: 65%;
  max-width: 48rem;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(4rem);
          backdrop-filter: blur(4rem);
}
@media (min-width: 64em) {
  header .nav__desktop .nav__list::after {
    top: 4rem;
  }
}
@media (min-width: 64em) {
  header .nav__desktop .nav__list::after {
    width: 50%;
    min-width: 62rem;
    max-width: 100%;
  }
}
header .nav__desktop .nav__list .nav__item {
  align-self: stretch;
  z-index: 80;
}
header .nav__desktop .nav__list .nav__link {
  position: relative;
  color: #ffffff;
  display: inline-block;
  height: 100%;
  padding: 1rem 0.4rem;
  letter-spacing: 0.27rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 64em) {
  header .nav__desktop .nav__list .nav__link {
    font-size: 1.6rem;
  }
}
header .nav__desktop .nav__list .nav__link::before {
  width: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
header .nav__desktop .nav__list .nav__link:hover::before {
  width: 100%;
}
header .nav__desktop .nav__list .nav__link[aria-current=page]::before {
  width: 100%;
  background-color: #ffffff;
}
header .nav__desktop .nav__list .nav__link .nav__num {
  display: none;
}
@media (min-width: 64em) {
  header .nav__desktop .nav__list .nav__link .nav__num {
    display: inline-block;
    min-width: 1.6rem;
    margin-right: 1rem;
    font-weight: 700;
  }
}

/*

   The 'layout' folder should contain everything that takes part in laying out the site or application. This folder could have stylesheets for the main parts of the site (header, footer, navigation, sidebar…), the grid system or even CSS styles for all the forms.

*/
.destination__tabs--section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.destination__single--tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
}
@media (min-width: 64em) {
  .destination__single--tab {
    flex-direction: row;
    gap: 5rem;
  }
}
.destination__single--tab > picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  margin: 3.2rem 7rem 2.6rem 7rem;
}
@media (min-width: 64em) {
  .destination__single--tab > picture {
    width: 50%;
    margin: 0;
  }
}
.destination__info--container {
  text-align: center;
}
@media (min-width: 64em) {
  .destination__info--container {
    width: 50%;
    text-align: left;
  }
}
.destination__btns--container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}
@media (min-width: 48em) {
  .destination__btns--container {
    gap: 3.2rem;
  }
}
@media (min-width: 64em) {
  .destination__btns--container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.destination__btn {
  position: relative;
  background-color: transparent;
  border: 0;
  text-transform: uppercase;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.235rem;
  font-size: 1.4rem;
  padding: 0.2rem 0.2rem 1rem 0.2rem;
}
@media (min-width: 48em) {
  .destination__btn {
    font-size: 1.6rem;
  }
}
.destination__btn::after {
  position: absolute;
  left: -0.1rem;
  bottom: 0.2rem;
  content: "";
  background-color: transparent;
  width: 0;
  height: 0.3rem;
  transition: all 0.3s ease-in-out;
}
.destination__btn:hover::after {
  background-color: #d0d6f9;
  width: 100%;
}
.destination__btn--active {
  color: #ffffff;
}
.destination__btn--active::after {
  background-color: #ffffff;
  width: 100%;
}
.destination__title {
  font-size: 5.6rem;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  line-height: 6.5rem;
  margin: 2rem 0 0.4rem 0;
}
@media (min-width: 48em) {
  .destination__title {
    font-size: 8rem;
    line-height: 9.2rem;
    margin: 3.2rem 0 0.8rem 0;
  }
}
@media (min-width: 64em) {
  .destination__title {
    font-size: 10rem;
    line-height: 11.5rem;
    margin: 3.6rem 0 1.4rem 0;
  }
}
.destination__para {
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 57.5rem;
  margin: 0 auto;
}
@media (min-width: 48em) {
  .destination__para {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}
@media (min-width: 64em) {
  .destination__para {
    font-size: 1.8rem;
    line-height: 3.2rem;
    max-width: 45rem;
    margin: 0;
  }
}
.destination__distance--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
}
@media (min-width: 48em) {
  .destination__distance--container {
    flex-direction: row;
    gap: 10rem;
  }
}
@media (min-width: 64em) {
  .destination__distance--container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.destination__distance--heading {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.235rem;
  margin-bottom: 1.2rem;
}
.destination__distance--km--time {
  font-size: 2.8rem;
  line-height: 3.2rem;
  color: #ffffff;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
}
.destination__hr {
  border-color: rgba(208, 214, 249, 0.25) transparent transparent transparent;
  border-width: 0.1rem 0 0 0;
  border-style: solid none none none;
  margin: 3.2rem auto;
  max-width: 57.5rem;
}
@media (min-width: 48em) {
  .destination__hr {
    margin: 5rem auto 3rem auto;
    max-width: 57.5rem;
  }
}
@media (min-width: 64em) {
  .destination__hr {
    margin: 5.4rem 0 3rem 0;
    max-width: 45rem;
  }
}

/*  
   components are reusable building blocks that makeup a website or app,
   and they should be usable anywhere on the page so they are completely 
   independent and held together by the layout of the page.
*/
.home {
  background-image: url("../../assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 48em) {
  .home {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}
@media (min-width: 64em) {
  .home {
    background-image: url("../../assets/home/background-home-desktop.jpg");
  }
}
.home__main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 8rem;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
}
@media (min-width: 48em) {
  .home__main {
    gap: 15rem;
  }
}
@media (min-width: 64em) {
  .home__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
    text-align: left;
  }
}
.home__heading {
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}
@media (min-width: 48em) {
  .home__heading {
    letter-spacing: 0.338rem;
    font-size: 2rem;
  }
}
@media (min-width: 64em) {
  .home__heading {
    letter-spacing: 0.475rem;
    font-size: 2.8rem;
  }
}
.home__space {
  font-family: "Bellefair", serif;
  display: block;
  font-size: 8rem;
  line-height: 10rem;
  margin: 1.6rem 0;
  color: #ffffff;
}
@media (min-width: 48em) {
  .home__space {
    font-size: 15rem;
    line-height: 15rem;
  }
}
@media (min-width: 64em) {
  .home__space {
    line-height: 17.2rem;
  }
}
.home__para {
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 50rem;
}
@media (min-width: 48em) {
  .home__para {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}
.home__explore-link {
  position: relative;
  font-family: "Bellefair", serif;
  color: #0b0d17;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 2rem;
  text-transform: uppercase;
  scale: 1;
  z-index: 1;
}
@media (min-width: 48em) {
  .home__explore-link {
    width: 24.2rem;
    font-size: 3.2rem;
    letter-spacing: 0.2rem;
  }
}
@media (min-width: 64em) {
  .home__explore-link {
    width: 27.4rem;
  }
}
.home__explore-link::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 15rem;
  aspect-ratio: 1;
  scale: 1;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
  z-index: -1;
}
@media (min-width: 48em) {
  .home__explore-link::before {
    width: 24.2rem;
  }
}
@media (min-width: 64em) {
  .home__explore-link::before {
    width: 27.4rem;
  }
}
.home__explore-link:hover::before {
  width: 16rem;
  scale: 1.5;
}
@media (min-width: 48em) {
  .home__explore-link:hover::before {
    width: 26.2rem;
  }
}
@media (min-width: 64em) {
  .home__explore-link:hover::before {
    width: 27.4rem;
  }
}

.destination__body {
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 48em) {
  .destination__body {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
}
@media (min-width: 64em) {
  .destination__body {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
}

.destination {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 48em) {
  .destination {
    display: flex;
    align-items: stretch;
    justify-content: start;
    gap: 3rem;
  }
}
@media (min-width: 64em) {
  .destination {
    gap: 6rem;
  }
}
@media (min-width: 90em) {
  .destination {
    gap: 8rem;
  }
}
.destination .page__heading {
  text-align: center;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.27rem;
  font-size: 1.6rem;
  color: #ffffff;
}
@media (min-width: 48em) {
  .destination .page__heading {
    font-size: 2rem;
    text-align: left;
    letter-spacing: 0.338rem;
  }
}
@media (min-width: 64em) {
  .destination .page__heading {
    font-size: 2.8rem;
    letter-spacing: 0.475rem;
  }
}
.destination .page__heading span {
  color: rgba(255, 255, 255, 0.25);
  margin-right: 1.6rem;
  font-weight: 700;
}

.crew {
  background-image: url("../../assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 48em) {
  .crew {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
}
@media (min-width: 64em) {
  .crew {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }
}

.technology {
  background-image: url("../../assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 48em) {
  .technology {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
}
@media (min-width: 64em) {
  .technology {
    background-image: url("../../assets/technology/background-technology-desktop.jpg");
  }
}

/*
   In 'pages' folder, put the page-specific styles such as home, about ,contact, etc.
*/
/*
   this folder should contains style for different themes such as light, dark, etc
*//*# sourceMappingURL=main.css.map */