@use '../abstracts' as a;

.destination__body{
   background-image: url('../../assets/destination/background-destination-mobile.jpg');
   background-repeat: no-repeat;
   background-size: cover;

   @include a.breakpoint-up(medium){
      background-image: url('../../assets/destination/background-destination-tablet.jpg');
   }

   @include a.breakpoint-up(large){
      background-image: url('../../assets/destination/background-destination-desktop.jpg');
   }
}

.destination{
   @include a.flex(stretch, center);
   flex-direction: column;
   min-height: calc(100vh - 9rem);
   padding: 2.4rem 2.4rem 4.8rem 2.4rem;

   @include a.breakpoint-up(medium){
      @include a.flex(stretch, start);
      gap: 3rem;
      min-height: calc(100vh - 9.6rem);
      padding: 4rem;
      margin: 0 auto;
   }

   @include a.breakpoint-up(large){
      gap: 6rem;
      min-height: calc(100vh - 17.6rem);
      padding: 2.4rem 4rem 5rem 4rem;
      max-width: 128rem;
      width: 100%;
   }

   @include a.breakpoint-up(xlarge){
      gap: 8rem;
   }
}