@use '../abstracts' as a;

.destination{
   background-image: url('../../assets/destination/background-destination-mobile.jpg');
   background-repeat: no-repeat;
   background-size: cover;

   @include a.breakpoint-up(medium){
      background-image: url('../../assets/destination/background-destination-tablet.jpg');
   }

   @include a.breakpoint-up(large){
      background-image: url('../../assets/destination/background-destination-desktop.jpg');
   }
}

.destination__main{
   .section-heading{
      text-align: center;
      text-transform: uppercase;
      font-family: a.$ff-barlow-condensed;
      letter-spacing: a.$ls-2-7;
      font-size: 1.6rem;
      color: a.$clr-white;

      @include a.breakpoint-up(medium) {
         font-size: 2rem;
         text-align: left;
         letter-spacing: a.$ls-3-38;
      }

      @include a.breakpoint-up(large) {
         font-size: 2.8rem;
         letter-spacing: a.$ls-4-75;
      }

      span{
         color: a.$clr-mobile-nav;
         margin-right: 1.6rem;
         font-weight: a.$fw-700;
      }
   }
}