@use '../abstracts' as a;

.technology{
   background-image: url('../../assets/technology/background-technology-mobile.jpg');
   background-repeat: no-repeat;
   background-size: cover;

   @include a.breakpoint-up(medium){
      background-image: url('../../assets/technology/background-technology-tablet.jpg');
   }

   @include a.breakpoint-up(large){
      background-image: url('../../assets/technology/background-technology-desktop.jpg');
   }
}