@use '../abstracts' as a;

.swiper-slide{
   min-height: 300px;
}

.swiper-pagination{
   position: static;
   bottom: 0;
   width: auto;
   font-family: a.$ff-barlow-condensed;
   letter-spacing: a.$ls-2-35;
   @include a.flex(flex-start, center);
   gap: 1.6rem;

   .swiper-pagination-bullet{
      color: a.$clr-light-gray;
      width: max-content;
      height: max-content;
      background-color: transparent;
      text-transform: uppercase;
      opacity: 1;
      font-size: 1.4rem;
      border-radius: 0;
      border-bottom: .3rem solid transparent;
      padding: .8rem .3rem;
      

      &-active{
         background-color: transparent;
         color: a.$clr-white;
         border-bottom: .3rem solid a.$clr-white;

      }
   }
   
}