//for low level basics such as resets and styles for html and body element

@use '../abstracts' as a;

html{
   font-size: 62.5%;
}

body{
   font-size: 1.6rem;
   font-family: a.$ff-barlow;
   overflow-x: hidden;
   background-color: a.$clr-black;
   color: a.$clr-light-gray;
}

a{
   text-decoration: none;
}
