//for low level basics such as resets and styles for html and body element

@use '../abstracts' as a;

html{
   font-size: 62.5%;
}

body{
   font-size: 1.6rem;
   font-family: a.$ff-barlow;
   overflow-x: hidden;
   background-color: a.$clr-black;
   color: a.$clr-light-gray;
}

a{
   text-decoration: none;
}

main{
   .page__heading{
      text-align: center;
      text-transform: uppercase;
      font-family: a.$ff-barlow-condensed;
      letter-spacing: a.$ls-2-7;
      font-size: 1.6rem;
      color: a.$clr-white;
   
      @include a.breakpoint-up(medium) {
         font-size: 2rem;
         text-align: left;
         letter-spacing: a.$ls-3-38;
      }
   
      @include a.breakpoint-up(large) {
         font-size: 2.8rem;
         letter-spacing: a.$ls-4-75;
         
      }
   
      span{
         color: a.$clr-mobile-nav;
         margin-right: 1.6rem;
         font-weight: a.$fw-700;
         
      }
   }
}





