%link-after{
   content: '';
   position: absolute;
   right: 0;
   bottom: 0;
   width: .4rem;
   transition: 0.2s ease-in-out;
}

%desktop-link-after{
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   height: .4rem;
   transition: 0.2s ease-in-out;
}