$clr-black: #0b0d17;
$clr-light-gray: #d0d6f9;
$clr-white: #ffffff;
$clr-mobile-nav: rgba($clr-white, 0.25);
$clr-desktop-nav: rgba($clr-white, 0.05);
$clr-white-hover: rgba($clr-white, 0.5);


$ff-barlow-condensed: 'Barlow Condensed', sans-serif;
$ff-bellefair: 'Bellefair', serif;

$fw-400: 400;
$fw-500: 500;
$fw-700: 700;

$ls-4-75: .475rem;
$ls-2-7: .27rem;
$ls-2-35: .235rem;

$transition: all .3s ease-in-out;